<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.microposts.any? %>
      <h3>Notes (<%= @user.microposts.count %>)</h3>
    <% end %>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>

    <%= will_paginate @microposts %>
  </div>
  <div class="span8">
	    <% if @user.inputs.any? %>
	      <h3>Inputs (<%= @user.inputs.count %>)</h3>
	    <% end %>
	    <ol class="inputs">
	      <%= render @inputs %>
	    </ol>

	    <%= will_paginate @inputs %>
  </div>
</div>