  <div class="accordion-group">
                <div class="accordion-heading">
                  <div style="text-align: right;padding-top:5px;padding-right:5px"><h5><a><%=@kpiset.user.name %></a> | <% if current_user?(@kpiset.user) %><%= link_to "Delete", @kpiset, :confirm => 'Are you sure?', :method => :delete%><%end%></h5>
                  </div>
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%=@kpiset.id%>">
                    <h3><%= @kpiset.name %></h3> <h5> <%=@kpiset.updatefreq%></h5>
                  </a>
                </div>
                <div id="<%=@kpiset.id%>" class="accordion-body in collapse" style="height: auto; ">
                  <div class="accordion-inner">
                    <% if @kpiset.kpis.any? %>
                      <% @dex=@kpiset.kpis %>
                      <table class="table table-stripped table-condensed">
                         <tr class="form-inline">
                          <%= form_for @kpi do |f| %>
                            <td><%= f.text_field :period, class: "span3", readonly: true, placeholder: (@dex.first).showdate((@dex.first),1) %>
                            <%= f.hidden_field :period , readonly: true, value: (@dex.first).date((@dex.first),1) %></td>
                            <%= f.hidden_field :kpiset_id , readonly: true, value: @kpiset.id %>
                            <td><%= f.text_field :value, class: "span2", placeholder: "Value" %></td>
                            <td><%= f.text_field :unit, class: "span2", placeholder: "Unit" %></td>
                            <td><%= f.text_field :comment, class: "span3", placeholder: "Add Comment" %></td>
                            <td><%= f.submit "Add", class: "btn btn-medium btn-small" %></td>
                          <% end %>
                        </tr>
                        <% @dex.count.times do |i| %>
                        <tr>
                          <td><%= (@dex[i].showdate(@dex[i],0)) %></td>
                          <td> <%= @dex[i].value %> </td>
                          <td> <%= @dex[i].unit%> </td>
                          <td> <%= @dex[i].comment %></td>
                        </tr>
                        <% end %>
                        <tr class="form-inline">
                          <%= form_for @kpi do |f| %>
                            <td><%= f.text_field :period, class: "span3", readonly: true, placeholder: (@dex.last).showdate((@dex.last),-1) %>
                            <%= f.hidden_field :period , readonly: true, value: (@dex.last).date((@dex.last),-1) %></td>
                            <%= f.hidden_field :kpiset_id , readonly: true, value: @kpiset.id %>
                            <td><%= f.text_field :value, class: "span2", placeholder: "Value" %></td>
                            <td><%= f.text_field :unit, class: "span2", placeholder: "Unit" %></td>
                            <td><%= f.text_field :comment, class: "span3", placeholder: "Add Comment" %></td>
                            <td><%= f.submit "Add", class: "btn btn-medium btn-small" %></td>
                          <% end %>
                        </tr>
                      </table>
                      <%= @kpiset.description %>
                    <% else %>
                      <table class="table table-striped table-condensed">
                        <tr class="form-inline">
                          <%= form_for @kpi do |f| %>
                            <td><%= f.text_field :period, class: "span3", readonly: true, placeholder: @kpiset.newdate(@kpiset, 0) %>
                            <%= f.hidden_field :period , readonly: true, value: @kpiset.newdate(@kpiset, -1) %></td>
                            <%= f.hidden_field :kpiset_id , readonly: true, value: @kpiset.id %>
                            <td><%= f.text_field :value, class: "span2", placeholder: "Value" %></td>
                            <td><%= f.text_field :unit, class: "span2", placeholder: "Unit" %></td>
                            <td><%= f.text_field :comment, class: "span3", placeholder: "Add Comment" %></td>
                            <td><%= f.submit "Add", class: "btn btn-medium btn-small" %></td>
                          <% end %>
                        </tr>
                      </table>
                      <%= @kpiset.description %>
                    <% end %>
                  </div>
                </div>
              </div>
